<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Screen_Translator.Properties.Appearance" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Screen_Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Screen_Translator.Properties.Tesseract" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Screen_Translator.Properties.Appearance>
            <setting name="Theme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeInsteadOfClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>(Default)</value>
            </setting>
        </Screen_Translator.Properties.Appearance>
        <Screen_Translator.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="Languages" serializeAs="String">
                <value />
            </setting>
        </Screen_Translator.Properties.Settings>
        <Screen_Translator.Properties.Tesseract>
            <setting name="Language" serializeAs="String">
                <value>(Default)</value>
            </setting>
        </Screen_Translator.Properties.Tesseract>
    </userSettings>
</configuration>